/* line 17, ../sass/partials/article.scss */
ul.entypo-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 15px;
}

/* line 23, ../sass/partials/article.scss */
ul.entypo-icons li {
  display: inline-block;
  font-size: 16px;
}

/* line 27, ../sass/partials/article.scss */
ul.entypo-icons li:first-child {
  padding-right: 10px;
}

/* line 69, ../sass/partials/article.scss */
.article-latest-tag {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 15px;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
}

/* line 80, ../sass/partials/article.scss */
.article-editors-tag {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 15px;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
}

/* HERO AREA HOME PAGE */
/* line 94, ../sass/partials/article.scss */
.hero {
  width: 100%;
  display: inline-block;
  padding-top: 25px;
  cursor: pointer;
  background: #ffffff;
  height: 350px;
  background-size: cover;
  background-position: 50%;
}
/* line 103, ../sass/partials/article.scss */
.hero .article_exerpt {
  width: 40%;
  display: inline-block;
  float: left;
  padding: 35px;
  margin: 35px 0;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  color: #fff;
}
/* line 3, ../sass/partials/article.scss */
.hero .article_exerpt .article-tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0 0 15px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  font-family: helvetica, arial, verdana;
  width: 100%;
}
/* line 113, ../sass/partials/article.scss */
.hero .article_exerpt a,
.hero .article_exerpt a:hover {
  color: #ffffff;
}
/* line 117, ../sass/partials/article.scss */
.hero .article_exerpt h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2em;
  margin: 10px 0 15px 0;
}
/* line 123, ../sass/partials/article.scss */
.hero .article_exerpt h2:hover {
  text-decoration: underline;
}
/* line 126, ../sass/partials/article.scss */
.hero .article_exerpt .article-tag {
  padding: 15px 35px;
}
/* line 129, ../sass/partials/article.scss */
.hero .article_exerpt span.author {
  display: block;
  bottom: 0;
  padding: 15px 0 20px 0px;
  position: absolute;
  font-size: 12px;
}
/* line 136, ../sass/partials/article.scss */
.hero .article_exerpt ul.entypo-icons {
  padding: 10px 35px;
}
/* line 17, ../sass/partials/article.scss */
.hero .article_exerpt ul.entypo-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 15px;
}
/* line 23, ../sass/partials/article.scss */
.hero .article_exerpt ul.entypo-icons li {
  display: inline-block;
  font-size: 16px;
}
/* line 27, ../sass/partials/article.scss */
.hero .article_exerpt ul.entypo-icons li:first-child {
  padding-right: 10px;
}

/* line 144, ../sass/partials/article.scss */
.custom-hero {
  max-width: 75%;
  margin: 30px auto 0 auto;
}
/* line 149, ../sass/partials/article.scss */
.custom-hero .hero-custom {
  width: 100%;
  display: inline-block;
  padding-top: 25px;
  cursor: pointer;
  background: #ffffff;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

/* ARTICLE GRID */
/* line 166, ../sass/partials/article.scss */
.article {
  position: relative;
  background-color: #fff;
  width: calc(99.99% * 1/4 - (25.5px - 25.5px * 1/4));
  height: 290px;
  overflow: hidden;
  margin-bottom: 25px;
  cursor: pointer;
}
/* line 174, ../sass/partials/article.scss */
.article:nth-child(n) {
  float: left;
  margin-right: 25.5px;
}
/* line 178, ../sass/partials/article.scss */
.article:nth-child(4n+1) {
  clear: left;
}
/* line 181, ../sass/partials/article.scss */
.article:nth-child(4n) {
  margin-right: 0;
}
/* line 184, ../sass/partials/article.scss */
.article .article_exerpt a {
  color: #333;
}
/* line 33, ../sass/partials/article.scss */
.article .article_exerpt {
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
  bottom: 0;
  height: 135px;
  padding: 15px;
  color: #333333;
  background: #ffffff;
}
/* line 43, ../sass/partials/article.scss */
.article .article_exerpt h2 {
  font-weight: 600;
  font-size: 17px;
  margin-top: 15px;
  line-height: 1.4em;
}
/* line 49, ../sass/partials/article.scss */
.article .article_exerpt h2:hover {
  text-decoration: underline;
}
/* line 52, ../sass/partials/article.scss */
.article .article_exerpt span.author {
  display: block;
  bottom: 10px;
  position: absolute;
  font-size: 12px;
}
/* line 3, ../sass/partials/article.scss */
.article .article_exerpt .article-tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0 0 15px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  font-family: helvetica, arial, verdana;
  width: 100%;
}
/* line 17, ../sass/partials/article.scss */
.article .article_exerpt ul.entypo-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 15px;
}
/* line 23, ../sass/partials/article.scss */
.article .article_exerpt ul.entypo-icons li {
  display: inline-block;
  font-size: 16px;
}
/* line 27, ../sass/partials/article.scss */
.article .article_exerpt ul.entypo-icons li:first-child {
  padding-right: 10px;
}
/* line 61, ../sass/partials/article.scss */
.article .article-latest.remix-img {
  height: 150px;
  width: 100%;
}

/* line 191, ../sass/partials/article.scss */
.sidebar .article {
  width: 300px;
  margin: 0 auto 25px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  float: none;
}
/* line 33, ../sass/partials/article.scss */
.sidebar .article .article_exerpt {
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
  bottom: 0;
  height: 135px;
  padding: 15px;
  color: #333333;
  background: #ffffff;
}
/* line 43, ../sass/partials/article.scss */
.sidebar .article .article_exerpt h2 {
  font-weight: 600;
  font-size: 17px;
  margin-top: 15px;
  line-height: 1.4em;
}
/* line 49, ../sass/partials/article.scss */
.sidebar .article .article_exerpt h2:hover {
  text-decoration: underline;
}
/* line 52, ../sass/partials/article.scss */
.sidebar .article .article_exerpt span.author {
  display: block;
  bottom: 10px;
  position: absolute;
  font-size: 12px;
}
/* line 3, ../sass/partials/article.scss */
.sidebar .article .article_exerpt .article-tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0 0 15px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  font-family: helvetica, arial, verdana;
  width: 100%;
}
/* line 17, ../sass/partials/article.scss */
.sidebar .article .article_exerpt ul.entypo-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 15px;
}
/* line 23, ../sass/partials/article.scss */
.sidebar .article .article_exerpt ul.entypo-icons li {
  display: inline-block;
  font-size: 16px;
}
/* line 27, ../sass/partials/article.scss */
.sidebar .article .article_exerpt ul.entypo-icons li:first-child {
  padding-right: 10px;
}
/* line 61, ../sass/partials/article.scss */
.sidebar .article .article-latest.remix-img {
  height: 150px;
  width: 100%;
}

/* EDITORS CHOICE */
/* line 204, ../sass/partials/article.scss */
.article-editors-choice {
  position: relative;
  float: right;
  height: 290px;
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
  background-color: #333;
  margin: 0;
  cursor: pointer;
}
/* line 33, ../sass/partials/article.scss */
.article-editors-choice .article_exerpt {
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
  bottom: 0;
  height: 135px;
  padding: 15px;
  color: #333333;
  background: #ffffff;
}
/* line 43, ../sass/partials/article.scss */
.article-editors-choice .article_exerpt h2 {
  font-weight: 600;
  font-size: 17px;
  margin-top: 15px;
  line-height: 1.4em;
}
/* line 49, ../sass/partials/article.scss */
.article-editors-choice .article_exerpt h2:hover {
  text-decoration: underline;
}
/* line 52, ../sass/partials/article.scss */
.article-editors-choice .article_exerpt span.author {
  display: block;
  bottom: 10px;
  position: absolute;
  font-size: 12px;
}
/* line 3, ../sass/partials/article.scss */
.article-editors-choice .article_exerpt .article-tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0 0 15px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  font-family: helvetica, arial, verdana;
  width: 100%;
}
/* line 17, ../sass/partials/article.scss */
.article-editors-choice .article_exerpt ul.entypo-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 15px;
}
/* line 23, ../sass/partials/article.scss */
.article-editors-choice .article_exerpt ul.entypo-icons li {
  display: inline-block;
  font-size: 16px;
}
/* line 27, ../sass/partials/article.scss */
.article-editors-choice .article_exerpt ul.entypo-icons li:first-child {
  padding-right: 10px;
}
/* line 61, ../sass/partials/article.scss */
.article-editors-choice .article-latest.remix-img {
  height: 150px;
  width: 100%;
}

/* LATEST ARTICLE */
/* line 218, ../sass/partials/article.scss */
.article-latest {
  position: relative;
  float: left;
  height: 290px;
  width: calc(99.99% * 3/4 - (30px - 30px * 3/4));
  background-color: #333;
  margin: 0;
  clear: both;
  cursor: pointer;
}
/* line 227, ../sass/partials/article.scss */
.article-latest .remix-img {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/* line 233, ../sass/partials/article.scss */
.article-latest .article-latest-tag {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 238, ../sass/partials/article.scss */
.article-latest .article-latest-img {
  float: left;
  height: 100%;
  padding: 0;
  margin: 0;
  width: calc(100% * 2/3 - (0px - 0px * 2/3));
}
/* line 245, ../sass/partials/article.scss */
.article-latest .article-latest-exerpt {
  position: absolute;
  width: calc(99.99% * 1/3 - (0px - 0px * 1/3));
  height: 100%;
  float: right;
  right: 0;
  padding: 15px;
  background: #ffffff;
  color: #333333;
}
/* line 254, ../sass/partials/article.scss */
.article-latest .article-latest-exerpt ul {
  float: right;
  position: absolute;
  right: 15px;
  bottom: 10px;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 263, ../sass/partials/article.scss */
.article-latest .article-latest-exerpt h2 {
  font-weight: 600;
  font-size: 26px;
  margin-top: 15px;
  line-height: 1.2em;
}
/* line 269, ../sass/partials/article.scss */
.article-latest .article-latest-exerpt h2:hover {
  text-decoration: underline;
}
/* line 272, ../sass/partials/article.scss */
.article-latest .article-latest-exerpt span.article-latest-author {
  display: block;
  bottom: 10px;
  position: absolute;
  font-size: 12px;
}
/* line 3, ../sass/partials/article.scss */
.article-latest .article-latest-exerpt .article-tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0 0 15px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  font-family: helvetica, arial, verdana;
  width: 100%;
}

/* ARTICLE COLLECTION - what is this? */
/* line 287, ../sass/partials/article.scss */
.article-collection:nth-last-child(1), .article-collection:nth-last-child(2), .article-collection:nth-last-child(3),
.article-editors-choice:nth-last-child(1),
.article-editors-choice:nth-last-child(2),
.article-editors-choice:nth-last-child(3) {
  margin-bottom: 0;
}

/* ARTICLE PAGE */
/* line 297, ../sass/partials/article.scss */
body.single-post {
  background: #ffffff;
}

/* line 301, ../sass/partials/article.scss */
.single-post .container {
  padding: 0;
}

/* line 305, ../sass/partials/article.scss */
.article-hero {
  width: 100%;
  display: inline-block;
  padding-top: 25px;
  cursor: pointer;
  background: #ffffff;
  height: 500px;
  background-size: cover;
  background-position-y: 50%;
}
/* line 314, ../sass/partials/article.scss */
.article-hero h2 {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  margin: 260px 0 0 50px;
  max-width: 62.3%;
  color: #ffffff;
  font-size: 40px;
}

/* line 325, ../sass/partials/article.scss */
.article_single .toolbar {
  border-bottom: solid 1px #f0f0f0;
  display: block;
  height: 50px;
  padding: 0 60px;
}
/* line 330, ../sass/partials/article.scss */
.article_single .toolbar span.article-tag,
.article_single .toolbar span.author,
.article_single .toolbar span.date,
.article_single .toolbar span.crumbs {
  display: inline-block;
  float: left;
  padding: 17px 25px 17px 0;
  font-family: helvetica, arial, verdana;
  font-size: 12px;
}
/* line 340, ../sass/partials/article.scss */
.article_single .toolbar span.crumbs {
  float: right;
  padding-right: 0px;
}
/* line 343, ../sass/partials/article.scss */
.article_single .toolbar span.crumbs p {
  font-family: helvetica, arial, verdana;
  font-size: 12px;
}
/* line 348, ../sass/partials/article.scss */
.article_single .toolbar .article-tag {
  text-transform: uppercase;
  font-weight: bold;
  width: inherit;
}
/* line 353, ../sass/partials/article.scss */
.article_single .toolbar .aligncenter {
  margin: 0 auto;
}
/* line 356, ../sass/partials/article.scss */
.article_single .toolbar .alignleft {
  float: left;
  margin-right: 20px;
}
/* line 360, ../sass/partials/article.scss */
.article_single .toolbar .alignright {
  float: right;
  margin-left: 20px;
}
/* line 365, ../sass/partials/article.scss */
.article_single .article_content {
  background: #ffffff;
  display: block;
  padding: 40px 0px 40px 60px;
  width: 100%;
}
/* line 371, ../sass/partials/article.scss */
.article_single .article_content .content .h1,
.article_single .article_content .content .h2,
.article_single .article_content .content .h3,
.article_single .article_content .content .h4,
.article_single .article_content .content .h5,
.article_single .article_content .content .h6,
.article_single .article_content .content h1,
.article_single .article_content .content h2,
.article_single .article_content .content h3,
.article_single .article_content .content h4,
.article_single .article_content .content h5,
.article_single .article_content .content h6 {
  line-height: 1.4;
  font-family: Times, 'Times new roman', sans;
}

/* line 390, ../sass/partials/article.scss */
.about-page .article_single {
  max-width: 800px;
  margin: 0 auto;
}

/* line 395, ../sass/partials/article.scss */
.author-title {
  font-size: 20px;
  padding: 20px 0;
}

/* line 402, ../sass/partials/article.scss */
.single-editor .article-editors-choice {
  width: 300px;
  float: none;
  margin: 0 auto 20px auto;
}

/* line 408, ../sass/partials/article.scss */
.article_single .article {
  width: calc(99.99% * 1/3 - (25.5px - 25.5px * 1/3));
  margin: 4px;
}

/* line 413, ../sass/partials/article.scss */
.article_single .article:nth-child(4n+1) {
  clear: none;
}
