/* line 2, ../sass/partials/carousel.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* line 8, ../sass/partials/carousel.scss */
.article-carousel {
  padding: 30px;
}

/* line 14, ../sass/partials/carousel.scss */
.carousel-inner .item .col-md-4 {
  padding: 45px;
}

/* line 18, ../sass/partials/carousel.scss */
.carousel-inner .item img {
  width: 300px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

/* line 25, ../sass/partials/carousel.scss */
.carousel-image {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 234px;
  width: 234px;
}

/* line 35, ../sass/partials/carousel.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none !important;
}

/* line 41, ../sass/partials/carousel.scss */
.article-carousel h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

/** carousel */
/*.carousel-inner .active.left { position: relative; left: -10% !important; }
.carousel-inner .next        { position: relative;  left:  10% !important; }
.carousel-inner .prev        { position: relative;  left: -10% !important; }*/
/* line 55, ../sass/partials/carousel.scss */
#carousel-section {
  padding: 25px 0;
}
/* line 57, ../sass/partials/carousel.scss */
#carousel-section .container {
  margin: 0;
  width: 100%;
  max-width: none;
}
/* line 64, ../sass/partials/carousel.scss */
#carousel-section .instainfo p {
  text-align: center;
}
