/* line 1, ../sass/partials/footer.scss */
footer {
  width: 100%;
  margin-top: 50px;
  background-color: #e8e8e8;
  border-top: 1px solid #cccccc;
  padding: 40px 50px 70px 50px;
}
/* line 7, ../sass/partials/footer.scss */
footer p {
  font-size: 14px;
  margin: 20px 0;
}
