/* line 3, ../sass/partials/header.scss */
header {
  padding-bottom: 5px;
  background-color: #ffffff;
}
/* line 7, ../sass/partials/header.scss */
header .icon-subscribe {
  margin-left: 30px;
  float: left;
}
/* line 10, ../sass/partials/header.scss */
header .icon-subscribe i {
  font-size: 22px;
  color: #fff;
  line-height: 44px;
}
/* line 16, ../sass/partials/header.scss */
header .advert-temp {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  margin-top: 30px;
  height: 110px;
}
/* line 22, ../sass/partials/header.scss */
header .advert-temp img {
  float: right;
}
/* line 26, ../sass/partials/header.scss */
header .logo {
  display: block;
  width: 100%;
  background: #fff;
  margin-top: 30px;
}
/* line 31, ../sass/partials/header.scss */
header .logo img {
  margin: 0 auto;
  width: 250px;
  display: inherit;
}
/* line 36, ../sass/partials/header.scss */
header .logo h1 {
  font-size: 16px;
  color: #333333;
  text-align: center;
  padding-top: 80px;
}
/* line 43, ../sass/partials/header.scss */
header .icon-white {
  color: #fff !important;
}
/* line 47, ../sass/partials/header.scss */
header .top-toolbar {
  width: 100%;
  height: 44px;
  clear: both;
  background: #333;
}
/* line 52, ../sass/partials/header.scss */
header .top-toolbar .top-toolbar-menu {
  display: none;
}
/* line 57, ../sass/partials/header.scss */
header .right-menu-wrap {
  width: 300px;
  height: 100%;
  position: absolute;
  right: 0;
  float: right;
  background: transparent;
  z-index: 99999;
  top: 0;
}
/* line 66, ../sass/partials/header.scss */
header .right-menu-wrap .social-icons {
  position: relative;
  right: 0;
  float: right;
  top: 0;
  padding: 0 30px;
}
/* line 73, ../sass/partials/header.scss */
header .right-menu-wrap i {
  color: #fff;
  float: left;
  font-size: 22px;
  display: inline-block;
  padding-left: 20px;
  line-height: 44px;
}
/* line 83, ../sass/partials/header.scss */
header .right-menu-wrap .icon-subscribe {
  left: -60px;
}
/* line 88, ../sass/partials/header.scss */
header .right-menu-wrap .icon-twitter {
  left: -110px;
}
/* line 92, ../sass/partials/header.scss */
header .right-menu-wrap .icon-instagram {
  left: -160px;
}
/* line 96, ../sass/partials/header.scss */
header .right-menu-wrap .icon-facebook {
  left: -210px;
}
/* line 99, ../sass/partials/header.scss */
header .right-menu-wrap .fa-spotify {
  color: #2ebd59;
}
/* line 104, ../sass/partials/header.scss */
header .right-menu-wrap .slider-content {
  display: none;
  background: #333333;
  padding: 0 30px;
  float: right;
  width: 300px;
  height: auto;
  color: #ffffff;
}
/* line 112, ../sass/partials/header.scss */
header .right-menu-wrap .slider-content h3 {
  font-size: 22px;
  text-transform: uppercase;
  padding: 20px 0 10px 0;
  margin: 0;
  text-align: center;
}
/* line 119, ../sass/partials/header.scss */
header .right-menu-wrap .slider-content p {
  font-size: 12px;
  text-align: left;
}
/* line 123, ../sass/partials/header.scss */
header .right-menu-wrap .slider-content ul {
  padding: 0;
}
/* line 125, ../sass/partials/header.scss */
header .right-menu-wrap .slider-content ul li {
  padding: 10px 10px 7px 10px;
  text-transform: uppercase;
  font-size: 16px;
  text-transform: capitalize;
}
/* line 131, ../sass/partials/header.scss */
header .right-menu-wrap .slider-content ul li:hover {
  background-color: #403F3F;
}
/* line 137, ../sass/partials/header.scss */
header .right-menu-wrap .slider-content ul a {
  color: #fff;
}
/* line 141, ../sass/partials/header.scss */
header .right-menu-wrap .slider-content ul.entypo-icons li {
  display: inline-block;
  font-size: 24px;
  border-bottom: none;
}
/* line 146, ../sass/partials/header.scss */
header .right-menu-wrap .slider-content ul.entypo-icons li:first-child {
  padding-right: 10px;
}
/* line 151, ../sass/partials/header.scss */
header .right-menu-wrap .socials-active {
  position: absolute;
  left: 0;
}
/* line 156, ../sass/partials/header.scss */
header .right-menu-wrap .socials-active i {
  color: #fff;
}
/* line 167, ../sass/partials/header.scss */
header .menu_slide {
  right: 0px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
/* line 177, ../sass/partials/header.scss */
header .overflow-y {
  overflow-y: scroll;
}
/* line 181, ../sass/partials/header.scss */
header .left-menu-wrap {
  width: 300px;
  height: auto;
  position: absolute;
  left: 0;
  padding: 0 30px;
  float: left;
  display: block;
  left: 0;
  z-index: 99999;
  top: 44px;
  background: #333;
}
/* line 197, ../sass/partials/header.scss */
header .left-menu-wrap .btn-primary {
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background: #fff;
  height: 34px;
  border: 1px solid #ccc;
}
/* line 205, ../sass/partials/header.scss */
header .left-menu-wrap .icon-subscribe {
  position: relative;
  left: 0;
  top: 0;
}
/* line 209, ../sass/partials/header.scss */
header .left-menu-wrap .icon-subscribe i {
  color: #fff;
  float: left;
  font-size: 22px;
  line-height: 44px;
  display: inline-block;
  padding: 0;
}
/* line 219, ../sass/partials/header.scss */
header .left-menu-wrap .bars-active {
  position: absolute;
}
/* line 223, ../sass/partials/header.scss */
header .left-menu-wrap .bars-active i {
  color: #333;
  padding: 30px;
}
/* line 230, ../sass/partials/header.scss */
header .left-menu-wrap .icon-subscribe.bars-white {
  left: 0;
}
/* line 232, ../sass/partials/header.scss */
header .left-menu-wrap .icon-subscribe.bars-white i {
  color: #fff;
}
/* line 237, ../sass/partials/header.scss */
header .left-menu-wrap .main-search {
  margin-bottom: 30px;
  margin-top: 0;
}
/* line 240, ../sass/partials/header.scss */
header .left-menu-wrap .main-search .btn {
  padding: 6px 17px;
  margin-top: 10px;
}
/* line 245, ../sass/partials/header.scss */
header .left-menu-wrap .main-search .btn-primary:hover {
  background: #fff;
}
/* line 249, ../sass/partials/header.scss */
header .left-menu-wrap .slider-content {
  display: none;
  padding: 0;
  float: left;
  width: 100%;
  min-height: 100%;
  color: #ffffff;
  background: #333;
  overflow-y: scroll;
}
/* line 258, ../sass/partials/header.scss */
header .left-menu-wrap .slider-content h3 {
  font-size: 18px;
  text-transform: uppercase;
}
/* line 262, ../sass/partials/header.scss */
header .left-menu-wrap .slider-content p {
  font-size: 12px;
  text-align: left;
}
/* line 266, ../sass/partials/header.scss */
header .left-menu-wrap .slider-content ul {
  padding: 0;
}
/* line 268, ../sass/partials/header.scss */
header .left-menu-wrap .slider-content ul li {
  padding: 0;
  text-transform: uppercase;
  padding: 7px 0;
  font-size: 16px;
  text-transform: capitalize;
}
/* line 275, ../sass/partials/header.scss */
header .left-menu-wrap .slider-content ul li:hover {
  background-color: #403F3F;
}
/* line 281, ../sass/partials/header.scss */
header .left-menu-wrap .slider-content ul a {
  color: #fff;
}
/* line 285, ../sass/partials/header.scss */
header .left-menu-wrap .slider-content ul.entypo-icons li {
  display: inline-block;
  font-size: 24px;
  border-bottom: none;
}
/* line 290, ../sass/partials/header.scss */
header .left-menu-wrap .slider-content ul.entypo-icons li:first-child {
  padding-right: 10px;
}
/* line 296, ../sass/partials/header.scss */
header .top-toolbar-active {
  position: fixed;
  top: 0;
  z-index: 3;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
/* line 305, ../sass/partials/header.scss */
header .top-toolbar-active .top-toolbar-menu {
  display: block;
}
/* line 308, ../sass/partials/header.scss */
header .top-toolbar-active .top-toolbar-menu img.small-logo {
  width: 92px;
  height: auto;
  float: left;
  margin-top: 7px;
}
/* line 315, ../sass/partials/header.scss */
header .top-toolbar-active .top-toolbar-menu ul li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
  color: #fff;
  line-height: 44px;
}
/* line 322, ../sass/partials/header.scss */
header .top-toolbar-active .top-toolbar-menu ul li a {
  color: #fff;
}
/* line 333, ../sass/partials/header.scss */
header .left-menu-wrap-active {
  background: #333;
}
/* line 338, ../sass/partials/header.scss */
header .left_menu_slide {
  left: 0;
}

/* line 344, ../sass/partials/header.scss */
.logo-header {
  clear: both;
}

/** TOOLBAR */
/* line 353, ../sass/partials/header.scss */
#toolbar-section {
  padding-top: 0px !important;
}

/* line 356, ../sass/partials/header.scss */
.toolbar {
  background-color: #fff;
  height: auto;
  margin-bottom: 0;
}
/* line 360, ../sass/partials/header.scss */
.toolbar .main-search {
  display: none;
  float: right;
  max-width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
}
/* line 365, ../sass/partials/header.scss */
.toolbar #adv-search input,
.toolbar .toolbar .input-group-btn,
.toolbar .toolbar .dropdown-toggle {
  height: 40px;
}
/* line 370, ../sass/partials/header.scss */
.toolbar .dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}
/* line 374, ../sass/partials/header.scss */
.toolbar .input-group-btn .btn-group {
  display: flex;
}
/* line 377, ../sass/partials/header.scss */
.toolbar #adv-search input,
.toolbar .input-group-btn,
.toolbar .dropdown-toggle {
  height: 40px;
}
/* line 382, ../sass/partials/header.scss */
.toolbar .dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}
/* line 386, ../sass/partials/header.scss */
.toolbar .input-group-btn .btn-group {
  display: flex;
}
/* line 388, ../sass/partials/header.scss */
.toolbar .input-group-btn .btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
/* line 393, ../sass/partials/header.scss */
.toolbar .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
/* line 397, ../sass/partials/header.scss */
.toolbar .form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 401, ../sass/partials/header.scss */
.toolbar #menu-remix {
  float: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
/* line 406, ../sass/partials/header.scss */
.toolbar #menu-remix li {
  list-style: none;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  padding: 0 40px;
  line-height: 40px;
  font-family: Times, "Times new roman", serif;
  text-transform: uppercase;
}
/* line 415, ../sass/partials/header.scss */
.toolbar #menu-remix li:first-child {
  padding-left: 0;
}
/* line 418, ../sass/partials/header.scss */
.toolbar #menu-remix li a {
  color: #333333;
  font-weight: 900;
}
/* line 422, ../sass/partials/header.scss */
.toolbar #menu-remix li a:hover {
  color: #333333;
  text-decoration: underline;
}

/* line 435, ../sass/partials/header.scss */
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}

/* line 442, ../sass/partials/header.scss */
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

/* line 447, ../sass/partials/header.scss */
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/** MENU BAR */
/* line 456, ../sass/partials/header.scss */
.toolbar #adv-search .btn {
  border: 1px solid #ddd;
  border-left: 0px;
  color: #ddd;
}
/* line 461, ../sass/partials/header.scss */
.toolbar #adv-search input {
  margin: 0;
  border-radius: 0px;
  border: 1px solid #ddd;
  border-right: 0px;
  box-shadow: none;
}
