/* line 3, ../sass/partials/shop.scss */
#container {
  margin: 0 auto;
}

/* line 7, ../sass/partials/shop.scss */
.single-product #container {
  max-width: 980px;
}

/* line 11, ../sass/partials/shop.scss */
.woocommerce div.product .product_title {
  font-size: 18px;
  font-weight: bold;
}

/* line 16, ../sass/partials/shop.scss */
.magazine-title {
  text-align: center;
}

/* line 20, ../sass/partials/shop.scss */
.issuuembed {
  margin: 0 auto;
}

/* line 24, ../sass/partials/shop.scss */
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
  width: 100% !important;
}

/* line 28, ../sass/partials/shop.scss */
.cart_totals h2 {
  margin: 0 0 20px 0;
  line-height: 1;
}

/* line 33, ../sass/partials/shop.scss */
.woocommerce ul.products li.product .button, .woocommerce div.product form.cart .button,
.woocommerce .cart .button, .woocommerce .cart input.button {
  -webkit-border-radius: 3 !important;
  -moz-border-radius: 3 !important;
  border-radius: 3px !important;
  margin-left: 20px;
  width: auto;
  font-family: "Museo Slab", verdana, sans-serif;
  color: #3498db !important;
  background: transparent !important;
  padding: 7px 20px;
  float: right;
  display: block !important;
  text-decoration: none !important;
  border: 1px solid #3498db !important;
  text-transform: uppercase !important;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  border: 1px solid #3498db;
}

/* line 57, ../sass/partials/shop.scss */
.wc-proceed-to-checkout a.checkout-button {
  padding: 15px 20px;
}

/* line 61, ../sass/partials/shop.scss */
.woocommerce ul.products li.product .button:hover, .woocommerce div.product form.cart .button:hover,
.woocommerce .cart .button:hover, .woocommerce .cart input.button:hover, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
  background: #3498db !important;
  text-decoration: none;
  color: #ffffff  !important;
  border: 1px solid #3498db;
}

/* line 69, ../sass/partials/shop.scss */
.woocommerce div.product form.cart .button {
  margin-top: 10px !important;
  height: 40px;
  width: 150px;
}

/* line 74, ../sass/partials/shop.scss */
.woocommerce ul.products li.product .button {
  padding: 10px;
  width: 136px;
}

/* line 80, ../sass/partials/shop.scss */
.woocommerce div.product form.cart .button {
  float: none;
  margin: 0 auto;
  display: block;
}

/* line 87, ../sass/partials/shop.scss */
.woocommerce ul.products li.product .button {
  float: none;
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
}

/* line 96, ../sass/partials/shop.scss */
.woocommerce .cart .button, .woocommerce .cart input.button {
  margin: 0 10px;
}

/* line 100, ../sass/partials/shop.scss */
.woocommerce-cart table.cart td.actions .coupon .input-text {
  width: 125px;
}

/* line 105, ../sass/partials/shop.scss */
.woocommerce-cart {
  font-family: "museo-sans", verdana, sans-serif;
}

/* line 113, ../sass/partials/shop.scss */
.woocommerce-cart .cart-subtotal th, .woocommerce-cart .order-total th, .woocommerce-cart .order-total.recurring-total th {
  color: #666;
}
/* line 118, ../sass/partials/shop.scss */
.woocommerce-cart .recurring-totals th {
  color: #3498db;
}
/* line 122, ../sass/partials/shop.scss */
.woocommerce-cart .amount, .woocommerce-cart .order-total.recurring-total td, .woocommerce-cart .subscription-details {
  font-weight: 400;
}
/* line 128, ../sass/partials/shop.scss */
.woocommerce-cart .order-total th {
  font-weight: 900;
  color: #333;
}
/* line 133, ../sass/partials/shop.scss */
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
  background-color: #3498db !important;
  height: 52px !important;
  padding: 17.5px !important;
  border: none !important;
}
/* line 141, ../sass/partials/shop.scss */
.woocommerce-cart .product-name {
  font-weight: 100;
}
/* line 144, ../sass/partials/shop.scss */
.woocommerce-cart .woocommerce .quantity .qty {
  padding-right: 0;
}
/* line 148, ../sass/partials/shop.scss */
.woocommerce-cart #coupon_code {
  width: 135px;
}
/* line 152, ../sass/partials/shop.scss */
.woocommerce-cart .cart_item td {
  padding: 15px !important;
}
/* line 156, ../sass/partials/shop.scss */
.woocommerce-cart .actions {
  padding: 15px !important;
}
/* line 160, ../sass/partials/shop.scss */
.woocommerce-cart .woocommerce a.remove {
  font-size: 17.8px;
  background: #eee;
}
/* line 165, ../sass/partials/shop.scss */
.woocommerce-cart .article_content p {
  margin: 0;
}

/* line 171, ../sass/partials/shop.scss */
.shop-title {
  margin: 0 0 15px 0 !important;
  font-family: "proxima-nova",sans-serif;
  font-weight: 700;
}

/* line 177, ../sass/partials/shop.scss */
.woocommerce-checkout {
  font-family: "proxima-nova",sans-serif;
}
/* line 181, ../sass/partials/shop.scss */
.woocommerce-checkout form input[type=text], .woocommerce-checkout form input[type=email], .woocommerce-checkout form input.input-text, .woocommerce-checkout form input[type=password], .woocommerce-checkout form textarea {
  height: 37px;
  box-shadow: none;
  color: #666;
  font-weight: 400;
}
/* line 188, ../sass/partials/shop.scss */
.woocommerce-checkout .col2-set#customer_details label {
  font-size: 14px;
  padding: 5px 5px 0 0;
  line-height: 1;
}
/* line 194, ../sass/partials/shop.scss */
.woocommerce-checkout .select2-container .select2-choice {
  height: 37px;
  font-size: 14px;
}
/* line 199, ../sass/partials/shop.scss */
.woocommerce-checkout .checkout-info {
  width: 500px;
}
/* line 203, ../sass/partials/shop.scss */
.woocommerce-checkout .product-name {
  font-weight: 400;
}
/* line 207, ../sass/partials/shop.scss */
.woocommerce-checkout .payment_box .payment_method_stripe, .woocommerce-checkout .payment_method_stripe, .woocommerce-checkout .wc_payment_methods.payment_methods.methods {
  display: none;
}
/* line 210, ../sass/partials/shop.scss */
.woocommerce-checkout #add_payment_method #payment, .woocommerce-checkout .woocommerce-checkout #payment {
  background: #fff;
  border: none;
}
/* line 214, ../sass/partials/shop.scss */
.woocommerce-checkout #add_payment_method #payment ul.payment_methods, .woocommerce-checkout .woocommerce-checkout #payment ul.payment_methods {
  border-bottom: none;
}
/* line 218, ../sass/partials/shop.scss */
.woocommerce-checkout .woocommerce #payment #place_order, .woocommerce-checkout .woocommerce-page #payment #place_order {
  background-color: #3498db !important;
  height: 52px !important;
  padding: 17.5px !important;
  border: none !important;
  font-size: 18px;
}

/* line 229, ../sass/partials/shop.scss */
.my-remix-login-form {
  clear: both;
  max-width: 500px;
  margin: 0 auto;
  background: #f7f7f7;
  padding: 20px 50px 50px 50px;
  border-radius: 3px;
}

/* line 238, ../sass/partials/shop.scss */
.my-remix-login-form label {
  font-family: "proxima-nova",sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* line 245, ../sass/partials/shop.scss */
.my-remix-login-form .btn-primary {
  width: 100%;
}

/* line 249, ../sass/partials/shop.scss */
.remix-checkbox {
  line-height: 20px !important;
  padding-top: 20px;
}

/* line 254, ../sass/partials/shop.scss */
.remix-checkbox input {
  float: left;
  width: 20px;
  clear: both;
}

/* line 260, ../sass/partials/shop.scss */
.remix-checkbox .lost_password {
  font-size: 14px;
  padding-left: 7px;
}

/* line 265, ../sass/partials/shop.scss */
.no-issues-notice {
  max-width: 500px;
  margin: 0 auto;
}

/* line 270, ../sass/partials/shop.scss */
.no-issues-notice p {
  text-align: center;
}

/* line 274, ../sass/partials/shop.scss */
.my-remix-form h1 {
  text-align: center;
}

/* line 278, ../sass/partials/shop.scss */
.no-issues-notice .btn-primary {
  clear: both;
  margin: 0 auto;
  display: block;
  float: none;
  margin-bottom: 20px;
  width: 200px;
  text-align: center;
}
