@media screen and (max-width: 768px) {
    #adv-search {
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
        .dropdown-menu {
            min-width: 500px;
        }
    }
    .toolbar #menu-remix li {
        padding: 0px 15px;
    }
}



@media screen and (max-width: 1000px) {

    header .advert-temp {
        height: 40px;
    }

    header .advert-temp img {
       margin: 0 auto;
    }

    .menu-main-menu-container {
        display: none;
    }
    .article:nth-child(n) {
        margin-right: 12.5px;
    }
    .article-latest, .article-editors-choice {
        width: calc(99.99% * 1/2 - (12.5px - 12.5px * 1/2));
    }
    .article {
        width: calc(99.99% * 1/2 - (25.5px - 25.5px * 1/2));
        margin-bottom: 25px;
    }
    .article-latest .article-latest-exerpt {
        position: absolute;
        width: 100%;
        margin: 0;
        left: 0;
        bottom: 0;
        height: 135px;
        padding: 15px;
        background: #ffffff;
    }
    .article-latest .article-latest-exerpt h2 {
        font-weight: 600;
        font-size: 20px;
        margin-top: 15px;
        line-height: 1.2em;
    }
    .hero .article_exerpt {
        width: 92.5%;
        position: absolute;
        bottom: 0;
        h2 {
            font-size: 20px;
        }
        p {
            display: none;
        }
    }
    body.home {
        .social-btn, 
        .author {
            display: none !important;
        }
    }
}

@media screen and (max-width: 470px) {

    header .right-menu-wrap {
        display: none;
    }

    .article-hero h2 {
        font-size: 16px;
    }
    .article-hero {
        width: 100%;
    }
    .menu-main-menu-container {
        display: none;
    }
    .article,
    .article-latest,
    .article-editors-choice {
        width: 100%;
        margin-bottom: 25px;
    }
    .article-latest .article-latest-exerpt {
        position: absolute;
        width: 100%;
        margin: 0;
        left: 0;
        bottom: 0;
        height: 135px;
        padding: 15px;
        background: #ffffff;
    }
    .article-latest .article-latest-exerpt h2 {
        font-size: 16px;
        margin-top: 15px;
        line-height: 1.2em;
    }
    .hero .article_exerpt {
        width: 92.5%;
        position: absolute;
        bottom: 0;
        h2 {
            font-size: 20px;
        }
        p {
            display: none;
        }
    }
}



@media screen and (min-height: 800px) {
    .hero {
        height: 500px;
    }
}
