.carousel-control {
    &.left,
    &.right {
        background-image: none;
    }
}

.article-carousel {
    padding: 30px;
}

.carousel-inner {}

.carousel-inner .item .col-md-4 {
    padding: 45px;
}

.carousel-inner .item img {
    width: 300px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.carousel-image {
background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 234px;
    width: 234px;

}

.carousel-control {
    &.right,
    &.left {
        background-image: none !important;
    }
}

.article-carousel h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}


/** carousel */


/*.carousel-inner .active.left { position: relative; left: -10% !important; }
.carousel-inner .next        { position: relative;  left:  10% !important; }
.carousel-inner .prev        { position: relative;  left: -10% !important; }*/

#carousel-section {
    padding: 25px 0;
    .container {

        margin: 0;
        width: 100%;
        max-width: none;
    }
    .instainfo {
        p {
            text-align: center;
        }
    }
}
