@import "partials/variables";

#container {
	margin: 0 auto;
}

.single-product #container {
	max-width: 980px;
}

.woocommerce div.product .product_title {
	font-size: 18px;
	font-weight: bold;
}

.magazine-title {
    text-align: center;
}

.issuuembed {
	margin: 0 auto;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	width: 100% !important;
}

.cart_totals h2 {
	margin: 0 0 20px 0;
	line-height: 1;
}

.woocommerce ul.products li.product .button, .woocommerce div.product form.cart .button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce .cart .button, .woocommerce .cart input.button {
    -webkit-border-radius: 3 !important;
    -moz-border-radius: 3 !important;
    border-radius: 3px !important;
    margin-left: 20px;
    width: auto;
    font-family: $sans;
    color: $blue !important;
    background: transparent !important;
    padding: 7px 20px;
    float: right;
    display: block !important;
    text-decoration: none !important;
    border: 1px solid $blue !important;
    text-transform: uppercase !important;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border: 1px solid $blue;
}

.wc-proceed-to-checkout a.checkout-button {
 padding: 15px 20px;
}

.woocommerce ul.products li.product .button:hover, .woocommerce div.product form.cart .button:hover, 
.woocommerce .cart .button:hover, .woocommerce .cart input.button:hover, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover  {
    background: $blue  !important;
    text-decoration: none;
    color: #ffffff  !important;;
    border: 1px solid $blue;
}

.woocommerce div.product form.cart .button {
    margin-top: 10px !important;
    height: 40px;
    width: 150px;
}
.woocommerce ul.products li.product .button {
    padding: 10px;
    width: 136px;
}


.woocommerce div.product form.cart .button {

    float: none;
    margin: 0 auto;
    display: block;
}

.woocommerce ul.products li.product .button{
 float: none;
    margin: 0 auto;
    display: block;
  width: 100%;
  text-align: center;
}


.woocommerce .cart .button, .woocommerce .cart input.button {
    margin: 0 10px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    width: 125px;
}


.woocommerce-cart {
    font-family: "museo-sans", verdana, sans-serif;
}

.woocommerce-cart {

  .cart-subtotal th, .order-total th {
    color: #666;

    } 

    .recurring-totals th{
        color: #3498db;
    }

    .amount, .recurring-total td  {
    font-weight: 400;
    color: #333;
   }
   .order-total.recurring-total th {
    color: #3498db;
   }
}



