@media screen and (max-width: 768px) {
  /* line 2, sass/media.scss */
  #adv-search {
    margin: 0 auto;
  }

  /* line 5, sass/media.scss */
  .dropdown.dropdown-lg {
    position: static !important;
  }
  /* line 7, sass/media.scss */
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }

  /* line 11, sass/media.scss */
  .toolbar #menu-remix li {
    padding: 0px 15px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 20, sass/media.scss */
  .article_content .content img {
    width: 100%;
    height: auto;
  }

  /* line 25, sass/media.scss */
  header .advert-temp {
    height: 40px;
  }

  /* line 29, sass/media.scss */
  header .advert-temp img {
    margin: 0 auto;
  }

  /* line 33, sass/media.scss */
  .menu-main-menu-container {
    display: none;
  }

  /* line 36, sass/media.scss */
  .article:nth-child(n) {
    margin-right: 12.5px;
  }

  /* line 39, sass/media.scss */
  .article-latest, .article-editors-choice {
    width: calc(99.99% * 1/2 - (12.5px - 12.5px * 1/2));
  }

  /* line 42, sass/media.scss */
  .article {
    width: calc(99.99% * 1/2 - (25.5px - 25.5px * 1/2));
    margin-bottom: 25px;
  }

  /* line 46, sass/media.scss */
  .article-latest .article-latest-exerpt {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 0;
    height: 135px;
    padding: 15px;
    background: #ffffff;
  }

  /* line 56, sass/media.scss */
  .article-latest .article-latest-exerpt h2 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
    line-height: 1.2em;
  }

  /* line 62, sass/media.scss */
  .hero .article_exerpt {
    width: 92.5%;
    position: absolute;
    bottom: 0;
  }
  /* line 66, sass/media.scss */
  .hero .article_exerpt h2 {
    font-size: 20px;
  }
  /* line 69, sass/media.scss */
  .hero .article_exerpt p {
    display: none;
  }

  /* line 74, sass/media.scss */
  body.home .author {
    display: none !important;
  }
}
@media screen and (max-width: 470px) {
  /* line 82, sass/media.scss */
  .article-latest .article-latest-img {
    width: 100%;
  }

  /* line 86, sass/media.scss */
  .article-carousel {
    height: 234px;
    overflow: hidden;
  }
  /* line 90, sass/media.scss */
  .article-carousel .carousel-image {
    width: 300px;
  }
  /* line 93, sass/media.scss */
  .article-carousel .instainfo {
    margin-top: 25px;
  }

  /* line 97, sass/media.scss */
  #carousel-section {
    padding: 0;
  }

  /* line 103, sass/media.scss */
  .article.advert {
    height: 329px;
  }

  /* line 107, sass/media.scss */
  .article.advert .ad .ad-img {
    margin: 35px 0;
  }

  /* line 110, sass/media.scss */
  .article.advert .ad .ad-content .ad-btn {
    float: none;
    width: 265px;
    margin: 0 auto;
  }

  /* line 116, sass/media.scss */
  .article.advert .ad .ad-content .ad-tag {
    display: none;
  }

  /* line 120, sass/media.scss */
  header .right-menu-wrap {
    display: none;
  }

  /* line 124, sass/media.scss */
  .article_single .article_content {
    margin: 58px 0 0 0;
    text-align: left;
    padding: 0;
  }

  /* line 129, sass/media.scss */
  .article_single .toolbar {
    padding: 0 30px;
  }

  /* line 133, sass/media.scss */
  .article-hero h2 {
    font-size: 16px;
  }

  /* line 136, sass/media.scss */
  .article-hero {
    width: 100%;
  }

  /* line 139, sass/media.scss */
  .menu-main-menu-container {
    display: none;
  }

  /* line 142, sass/media.scss */
  .article,
  .article-latest,
  .article-editors-choice {
    width: 100%;
    margin-bottom: 25px;
  }

  /* line 148, sass/media.scss */
  .article-latest .article-latest-exerpt {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 0;
    height: 135px;
    padding: 15px;
    background: #ffffff;
  }

  /* line 158, sass/media.scss */
  .article-latest .article-latest-exerpt h2 {
    font-size: 16px;
    margin-top: 15px;
    line-height: 1.2em;
  }

  /* line 163, sass/media.scss */
  .hero .article_exerpt {
    width: 92.5%;
    position: absolute;
    bottom: 0;
  }
  /* line 167, sass/media.scss */
  .hero .article_exerpt h2 {
    font-size: 20px;
  }
  /* line 170, sass/media.scss */
  .hero .article_exerpt p {
    display: none;
  }
}
@media screen and (min-height: 800px) {
  /* line 179, sass/media.scss */
  .hero {
    height: 500px;
  }
}
