@media screen and (max-width: 768px) {
  /* line 2, sass/media.scss */
  #adv-search {
    margin: 0 auto;
  }

  /* line 5, sass/media.scss */
  .dropdown.dropdown-lg {
    position: static !important;
  }
  /* line 7, sass/media.scss */
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }

  /* line 11, sass/media.scss */
  .toolbar #menu-remix li {
    padding: 0px 15px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 20, sass/media.scss */
  header .advert-temp {
    height: 40px;
  }

  /* line 24, sass/media.scss */
  header .advert-temp img {
    margin: 0 auto;
  }

  /* line 28, sass/media.scss */
  .menu-main-menu-container {
    display: none;
  }

  /* line 31, sass/media.scss */
  .article:nth-child(n) {
    margin-right: 12.5px;
  }

  /* line 34, sass/media.scss */
  .article-latest, .article-editors-choice {
    width: calc(99.99% * 1/2 - (12.5px - 12.5px * 1/2));
  }

  /* line 37, sass/media.scss */
  .article {
    width: calc(99.99% * 1/2 - (25.5px - 25.5px * 1/2));
    margin-bottom: 25px;
  }

  /* line 41, sass/media.scss */
  .article-latest .article-latest-exerpt {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 0;
    height: 135px;
    padding: 15px;
    background: #ffffff;
  }

  /* line 51, sass/media.scss */
  .article-latest .article-latest-exerpt h2 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
    line-height: 1.2em;
  }

  /* line 57, sass/media.scss */
  .hero .article_exerpt {
    width: 92.5%;
    position: absolute;
    bottom: 0;
  }
  /* line 61, sass/media.scss */
  .hero .article_exerpt h2 {
    font-size: 20px;
  }
  /* line 64, sass/media.scss */
  .hero .article_exerpt p {
    display: none;
  }

  /* line 69, sass/media.scss */
  body.home .social-btn,
  body.home .author {
    display: none !important;
  }
}
@media screen and (max-width: 470px) {
  /* line 78, sass/media.scss */
  header .right-menu-wrap {
    display: none;
  }

  /* line 82, sass/media.scss */
  .article-hero h2 {
    font-size: 16px;
  }

  /* line 85, sass/media.scss */
  .article-hero {
    width: 100%;
  }

  /* line 88, sass/media.scss */
  .menu-main-menu-container {
    display: none;
  }

  /* line 91, sass/media.scss */
  .article,
  .article-latest,
  .article-editors-choice {
    width: 100%;
    margin-bottom: 25px;
  }

  /* line 97, sass/media.scss */
  .article-latest .article-latest-exerpt {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 0;
    height: 135px;
    padding: 15px;
    background: #ffffff;
  }

  /* line 107, sass/media.scss */
  .article-latest .article-latest-exerpt h2 {
    font-size: 16px;
    margin-top: 15px;
    line-height: 1.2em;
  }

  /* line 112, sass/media.scss */
  .hero .article_exerpt {
    width: 92.5%;
    position: absolute;
    bottom: 0;
  }
  /* line 116, sass/media.scss */
  .hero .article_exerpt h2 {
    font-size: 20px;
  }
  /* line 119, sass/media.scss */
  .hero .article_exerpt p {
    display: none;
  }
}
@media screen and (min-height: 800px) {
  /* line 128, sass/media.scss */
  .hero {
    height: 500px;
  }
}
